USE [capstone]
GO
/****** Object:  Table [dbo].[genres]    Script Date: 2/26/2022 7:06:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[genres](
	[Genre] [nvarchar](max) NULL,
	[NA_Sales] [money] NULL,
	[EU_Sales] [money] NULL,
	[JP_Sales] [money] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[genres] ([Genre], [NA_Sales], [EU_Sales], [JP_Sales]) VALUES (N'Action', 1.0600, 5.0100, 0.1300)
INSERT [dbo].[genres] ([Genre], [NA_Sales], [EU_Sales], [JP_Sales]) VALUES (N'Action', 1.0900, 3.4700, 0.0300)
INSERT [dbo].[genres] ([Genre], [NA_Sales], [EU_Sales], [JP_Sales]) VALUES (N'Action', 1.1900, 2.0700, 0.0800)
GO
